body {
    padding: 20px 250px;
    margin: 0;
    font-size: 20px;
    background-color: #131a1d;
    color: white;
  }
  
  .main-menu li a {
    color: white;
  }
  
  .nav1 ul {
    background-color: #3f4d50;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    padding: 15px;
    text-align: center;
  }
  .nav1 li {
    border-right: rgba(255, 255, 255, 0.527) 1px solid;
  }
  #lastpage {
    border-right: none;
  }
  
  .main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
  }
  
  .main-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .main-bottom .subscription {
    border-right: rgba(255, 255, 255, 0.527) 1px solid;
    margin: 0 20px;
  }
  
  .main-bottom button {
    background-color: #98aaae;
    padding: 20px;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
  
  .contact input {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .contact button {
    background-color: white;
    width: 20%;
    padding: 10px;
    margin: 10px auto 0 auto;
  }
  footer {
    border-top: white 1px solid;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }